<h2>Alexander Lerma</h2>
<h2>CS 422</h2>
<h2>Fall 2016</h2>
<h1>Homework 3<h1>

<h2>2 Practicum Problems</h2>

These problems will primarily reference the lecture materials and the examples given in class using Orange and Python. It is suggested that a Jupyter/IPython notebook be used for the programmatic components.

<h3>2.1 Problem 1</h3>

Load the auto-mpg sample dataset into the Orange application - ensure that origin is set as a target attribute type, as it will be used as a class label. Perform a Hierarchical Clustering using Linkage set to Average, after calculating Distances, with Pruning set to a Max Depth of 5. Also, set Selection to Top N with a value of 3. This will result in a shallow tree of depth 5, and a final cut resulting in 3 clusters. Examine the resulting clusters (C1,C2,C3) via Distributions analysis - is there a clear relationship between the cluster assignment and class label (1,2,3)? What are the probabilities calculated for each value of origin for each cluster? Does changing the Max Depth affect the results in any way?

<i>Cluster results</i>
![title](img/cluster_results.png)

<i>Relationship between cluster assignment and class label (1,2,3)</i>
![title](img/cluster_v_origin.png)

<b>Cluster 1 Probabilities</b>
![title](img/1p.png)
<b>Cluster 2 Probabilities</b>
![title](img/2p.png)
<b>Cluster 3 Probabilities</b>
![title](img/3p.png)

<b>Observations: </b>
<ul>
<li>Cluster 1 had the most overall members with majority of them being origin label 1</li>
<li>Origin label 3 was only found in Cluster 1</li>
<li>Cluster 3 only contains members of Origin label 1</li>
<li>Members of Cluster 3 had a 1 probability of being origin</li>
<li>Changing the Max Depth did not affect the outcome for all depth > 1
</li>
</ul>

<h3>2.2 Problem 2</h3>

Load the breast-cancer-wisconsin-cont dataset into the Orange application, and run a k-means analysis with the number of clusters Optimized From values for k from 2 to 5. Use Silhouette scoring - what is the score for each value of k? For the best score, what are the coordinates of the centroids? What are the distances between the centroids for the best score?

<b>Scores for each value of k:</b>
![title](img/k_means_scores.png)

<b>Centroid coordinates for cluster 1 and 2 with k = 2:</b>
![title](img/centroids.png)

<b>Centroid distances matrix for best k</b>
![title](img/dist_matrix.png)

<h3>2.2 Problem 3</h3>

Load the Boston dataset (sklearn.datasets.load boston()) into Python us- ing a Pandas dataframe. Perform a K-Means analysis on unscaled data, with the number of clusters ranging from 2 to 6. Provide the Silhouette score to justify which value of k is optimal. What information do the values of Homogene- ity/Completeness provide as well? Calculate the mean values for all features in each cluster for the optimal clustering - how do these values differ from the centroid coordinates?

In [2]:
from sklearn.datasets import load_boston
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.preprocessing import Imputer
from collections import defaultdict
import pandas as pd
import numpy as np
%matplotlib inline

boston = load_boston()
feature_names = boston.feature_names
X = boston.data
Y = boston.target
boston_df = pd.DataFrame(X, columns=feature_names)
boston_df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

Silhouette refers to a method of interpretation and validation of consistency within clusters of data. The technique provides a succinct graphical representation of how well each object lies within its cluster. It was first described by Peter J. Rousseeuw in 1986.[1]

The silhouette value is a measure of how similar an object is to its own cluster (cohesion) compared to other clusters (separation). The silhouette ranges from -1 to 1, where a high value indicates that the object is well matched to its own cluster and poorly matched to neighboring clusters. If most objects have a high value, then the clustering configuration is appropriate. If many points have a low or negative value, then the clustering configuration may have too many or too few clusters.

In [3]:
cluster_ranges = [2, 3, 4, 5, 6]
scores = defaultdict(dict)

for k in cluster_ranges:
    kmeans = KMeans(n_clusters=k).fit(X)
    true_labels = kmeans.labels_
    cluster_labels = kmeans.predict(X)
    scores[k]['silhouette'] = metrics.silhouette_score(X, cluster_labels)
    scores[k]['homogeneous'] = metrics.homogeneity_score(true_labels, cluster_labels)
    scores[k]['completeness'] = metrics.completeness_score(true_labels, cluster_labels)
    print('For n_clusters =', k,
          'The average silhouette_score is :', scores[k]['silhouette'])
    
scores_df = pd.DataFrame.from_dict(scores, orient='index')
scores_df

For n_clusters = 2 The average silhouette_score is : 0.691398118833
For n_clusters = 3 The average silhouette_score is : 0.723403034161
For n_clusters = 4 The average silhouette_score is : 0.568219170853
For n_clusters = 5 The average silhouette_score is : 0.570738665513
For n_clusters = 6 The average silhouette_score is : 0.501258930507

   homogeneous  completeness  silhouette
2          1.0           1.0    0.691398
3          1.0           1.0    0.723403
4          1.0           1.0    0.568219
5          1.0           1.0    0.570739
6          1.0           1.0    0.501259

In [4]:
optimal_k = max(scores.keys(), key=lambda x: scores[x]['silhouette'])

print('Optimal K value: ', optimal_k)
print('Optimal K value scores:')
print('average silhouette: ', scores[optimal_k]['silhouette'])
print('homogeneity score: ', scores[optimal_k]['homogeneous'])
print('completeness score: ', scores[optimal_k]['completeness'])

Optimal K value:  3
Optimal K value scores:
average silhouette:  0.723403034161
homogeneity score:  1.0
completeness score:  1.0

Homogeneity and completeness allow us to better understand how 'pure' clusters are. A value close to 1 for homogeneity score tells us that the members of a given cluster are all of the same class. A homogeneity score close to 0 indicates that the members of a given cluster are all of different classes.
A value close to 1 for completeness score tells us that for a given class, all members of that class are assigned to the same cluser. A value of 0 for completeness score indicates that all members of a given class are assigned individual clusters

In [5]:
optimal_kmeans = KMeans(n_clusters=optimal_k).fit(X)
labels = optimal_kmeans.predict(X)
centroids = optimal_kmeans.cluster_centers_

In [6]:
def cluster_dict(labels, X):
    clusters = defaultdict(list)
    for label, doc in list(zip(labels, X)):
        clusters[label].append(doc)
    return clusters

def calc_means(clusters):
    return {label: np.nanmean(cluster, axis=0)
            for label, cluster in clusters.items()}

In [7]:
clusters = cluster_dict(labels, X)
clusters_df = pd.DataFrame.from_dict(clusters, orient="index")
clusters_df

,0,1,2,3,4,5,6,7,8,9,...,356,357,358,359,360,361,362,363,364,365
0,"[0.00632, 18.0, 2.31, 0.0, 0.538, 6.575, 65.2,...","[0.02731, 0.0, 7.07, 0.0, 0.469, 6.421, 78.9, ...","[0.02729, 0.0, 7.07, 0.0, 0.469, 7.185, 61.1, ...","[0.03237, 0.0, 2.18, 0.0, 0.458, 6.998, 45.8, ...","[0.06905, 0.0, 2.18, 0.0, 0.458, 7.147, 54.2, ...","[0.02985, 0.0, 2.18, 0.0, 0.458, 6.43, 58.7, 6...","[0.08829, 12.5, 7.87, 0.0, 0.524, 6.012, 66.6,...","[0.14455, 12.5, 7.87, 0.0, 0.524, 6.172, 96.1,...","[0.21124, 12.5, 7.87, 0.0, 0.524, 5.631, 100.0...","[0.17004, 12.5, 7.87, 0.0, 0.524, 6.004, 85.9,...",...,"[0.2896, 0.0, 9.69, 0.0, 0.585, 5.39, 72.9, 2....","[0.26838, 0.0, 9.69, 0.0, 0.585, 5.794, 70.6, ...","[0.23912, 0.0, 9.69, 0.0, 0.585, 6.019, 65.3, ...","[0.17783, 0.0, 9.69, 0.0, 0.585, 5.569, 73.5, ...","[0.22438, 0.0, 9.69, 0.0, 0.585, 6.027, 79.7, ...","[0.06263, 0.0, 11.93, 0.0, 0.573, 6.593, 69.1,...","[0.04527, 0.0, 11.93, 0.0, 0.573, 6.12, 76.7, ...","[0.06076, 0.0, 11.93, 0.0, 0.573, 6.976, 91.0,...","[0.10959, 0.0, 11.93, 0.0, 0.573, 6.794, 89.3,...","[0.04741, 0.0, 11.93, 0.0, 0.573, 6.03, 80.8, ..."
1,"[8.98296, 0.0, 18.1, 1.0, 0.77, 6.212, 97.4, 2...","[3.8497, 0.0, 18.1, 1.0, 0.77, 6.395, 91.0, 2....","[5.20177, 0.0, 18.1, 1.0, 0.77, 6.127, 83.4, 2...","[4.26131, 0.0, 18.1, 0.0, 0.77, 6.112, 81.3, 2...","[4.54192, 0.0, 18.1, 0.0, 0.77, 6.398, 88.0, 2...","[3.83684, 0.0, 18.1, 0.0, 0.77, 6.251, 91.1, 2...","[3.67822, 0.0, 18.1, 0.0, 0.77, 5.362, 96.2, 2...","[4.22239, 0.0, 18.1, 1.0, 0.77, 5.803, 89.0, 1...","[3.47428, 0.0, 18.1, 1.0, 0.718, 8.78, 82.9, 1...","[4.55587, 0.0, 18.1, 0.0, 0.718, 3.561, 87.9, ...",...,None,None,None,None,None,None,None,None,None,None
2,"[0.22876, 0.0, 8.56, 0.0, 0.52, 6.405, 85.4, 2...","[3.53501, 0.0, 19.58, 1.0, 0.871, 6.152, 82.6,...","[2.44668, 0.0, 19.58, 0.0, 0.871, 5.272, 94.0,...","[13.5222, 0.0, 18.1, 0.0, 0.631, 3.863, 100.0,...","[14.4383, 0.0, 18.1, 0.0, 0.597, 6.852, 100.0,...","[51.1358, 0.0, 18.1, 0.0, 0.597, 5.757, 100.0,...","[14.0507, 0.0, 18.1, 0.0, 0.597, 6.657, 100.0,...","[18.811, 0.0, 18.1, 0.0, 0.597, 4.628, 100.0, ...","[28.6558, 0.0, 18.1, 0.0, 0.597, 5.155, 100.0,...","[45.7461, 0.0, 18.1, 0.0, 0.693, 4.519, 100.0,...",...,None,None,None,None,None,None,None,None,None,None

In [8]:
means = calc_means(clusters)
means_df = pd.DataFrame.from_dict(means, orient="index")
means_df.columns = feature_names
means_df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
mean,8.747128,5.236794,14.952976,0.058595,0.618266,6.146473,80.077459,2.844112,16.656809,541.391655,19.313935,271.026388,16.237122
std,7.527333,9.070394,5.719206,0.028198,0.093889,0.216373,17.029585,1.400656,10.573889,199.669016,1.302542,184.763745,5.225954
min,0.374993,0.000000,8.359536,0.026316,0.509863,5.982265,60.413388,1.994429,4.450820,311.232240,17.817760,57.786316,10.388661
25%,5.642752,0.000000,13.143189,0.048677,0.590544,6.023882,75.159326,2.035796,13.475410,477.984541,18.873353,214.794678,14.131340
50%,10.910511,0.000000,17.926842,0.071038,0.671225,6.065500,89.905263,2.077164,22.500000,644.736842,19.928947,371.803039,17.874020
75%,12.933196,7.855191,18.249696,0.074735,0.672468,6.228577,89.909494,3.268954,22.759804,656.471362,20.062023,377.646424,19.161352
max,14.955880,15.710383,18.572549,0.078431,0.673711,6.391653,89.913725,4.460745,23.019608,668.205882,20.195098,383.489809,20.448684

In [9]:
means_df.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.374993,15.710383,8.359536,0.071038,0.509863,6.391653,60.413388,4.460745,4.450820,311.232240,17.817760,383.489809,10.388661
1,10.910511,0.000000,18.572549,0.078431,0.671225,5.982265,89.913725,2.077164,23.019608,668.205882,20.195098,371.803039,17.874020
2,14.955880,0.000000,17.926842,0.026316,0.673711,6.065500,89.905263,1.994429,22.500000,644.736842,19.928947,57.786316,20.448684

In [10]:
centroids_df = pd.DataFrame(centroids)
centroids_df.columns = feature_names
centroids_df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,3.000000,3.000000e+00,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
mean,8.747128,5.236794e+00,14.952976,0.058595,0.618266,6.146473,80.077459,2.844112,16.656809,541.391655,19.313935,271.026388,16.237122
std,7.527333,9.070394e+00,5.719206,0.028198,0.093889,0.216373,17.029585,1.400656,10.573889,199.669016,1.302542,184.763745,5.225954
min,0.374993,-5.329071e-15,8.359536,0.026316,0.509863,5.982265,60.413388,1.994429,4.450820,311.232240,17.817760,57.786316,10.388661
25%,5.642752,0.000000e+00,13.143189,0.048677,0.590544,6.023882,75.159326,2.035796,13.475410,477.984541,18.873353,214.794678,14.131340
50%,10.910511,5.329071e-15,17.926842,0.071038,0.671225,6.065500,89.905263,2.077164,22.500000,644.736842,19.928947,371.803039,17.874020
75%,12.933196,7.855191e+00,18.249696,0.074735,0.672468,6.228577,89.909494,3.268954,22.759804,656.471362,20.062023,377.646424,19.161352
max,14.955880,1.571038e+01,18.572549,0.078431,0.673711,6.391653,89.913725,4.460745,23.019608,668.205882,20.195098,383.489809,20.448684

In [11]:
centroids_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.374993,1.571038e+01,8.359536,0.071038,0.509863,6.391653,60.413388,4.460745,4.450820,311.232240,17.817760,383.489809,10.388661
1,10.910511,5.329071e-15,18.572549,0.078431,0.671225,5.982265,89.913725,2.077164,23.019608,668.205882,20.195098,371.803039,17.874020
2,14.955880,-5.329071e-15,17.926842,0.026316,0.673711,6.065500,89.905263,1.994429,22.500000,644.736842,19.928947,57.786316,20.448684

The calculated mean values differ slightly from the optimal k_means cluster centroid points. This is likely due to the way each centroid is computed. This also depends on how the centroid computation handles NaN values. The choice of using either K-Means++, set values, or Random Initialization will also affect the centroid result.